.logo_place_header {
    background-image: url("../../../vendor/images/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    left: 64px;
    top: 30px;
    z-index: 4;
}