.table {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap; 
    width: 1100px;  
    margin-bottom: 60px; 
    justify-content: space-between;
    margin: auto;
}