.kaufman__triangle {
    width: 877px; 
    height: 877px;
    position: absolute;    
    right: -210px;
    top: 0;
    z-index: 1;
    background-image: url("../../../vendor/images/triangle.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}